body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}



.done{
  text-decoration: line-through;
}


.button{
  color:rgb(141, 141, 141);
  background: #fff;
  border: none;
  outline: none;
}

.active_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;

}

.filter_active{
  border:1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}

.title{
  text-align: center;
  color:red;
  opacity: .3;
  font-size: 100px;
  margin-bottom:100px ;
  font-weight: 2;
}
.input{
  font-size: 30px;
  width: 91%;
  outline: none;
  border: none;
}
.todo_item{
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.add_task{
  border: none;
  background: #fff;
  color:lightgray;
  font-size: 30px;
}

input::-webkit-input-placeholder {
  color: rgb(238, 238, 238);
}
button,
button:active,
button:focus {
  outline: none;
}

.checkbox{
  margin-right: 1rem;
}

.counter{
  color:lightgray;
  margin-left: 10px;
}
.del{
  display: none;
}

.form{
  border: 1px solid lightgray;
}